{% extends "base.html" %}

{% block title %}
- Dashboard
{% endblock %}

{% block content %}
<div class="hero-unit">
	<h1>Welcome, {{ landlord.name }}</h1>
	<p>
		{% if stats.listings == 0 %}
		You currently have no listings. Follow the 'Add listings' link in the menu below to get started.
		{% elif stats.listings == 1 %}
		You have 1 property listed
		{% else %}
		You have {{ stats.listings }} properties up for rent on the website
		{% endif %}
	</p>
</div>

<!-- Example row of columns -->
<div class="row">
	<div class="span3">
		<h2>Menu</h2>
		<ul class="nav nav-list">
			<li class="nav-header">Listings</li>
			<li><a href="{{ url_for('add_listing') }}">New Listing</a></li>
			<li><a href="{{ url_for('manage_listings') }}">Manage Listings</a></li>
			<li class="nav-header">Account</li>
			<li><a href="{{ url_for('update_contact') }}">Update Contact Information</a></li>
			<li><a href="{{ url_for('logout') }}">Log Out</a></li>
		</ul>
	</div>
	<div class="span9">
		<h1>Statistics</h1>
			<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Properties listed</th>
					<th>Available</th>
					<th>Occupied</th>
					<th>Occupancy Rate</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>{{ stats.listings }}</td>
					<td>{{ stats.available }}</td>
					<td>{{ stats.occupied }}</td>
					{% if stats.listings > 0 %}
					<td>{{ "%.2f" % ((stats.occupied/stats.listings) * 100) }}%</td>
					{% else %}
					<td>0.00%</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock content %}